.director-screen-wrapper{
  a{
    color: #00FFFF;
  }
}
.director-list-nested-wrapper{
	background: #FFFFFF;
    color: #000000;
    height: 400px;
    min-height: 400px;
    padding: 10px 38px;
    position: relative;
    top: 20px;
    h1{
    	color: #000000;
    }
    md-toolbar-row{
	background:#607d8b;
	}
}